//
//  Common.xcconfig
//  Forumate
//
//  Created by Kyle on 2023/11/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MENUHELPER_SUFFIX_Debug = Debug
MENUHELPER_SUFFIX_Release =
MENUHELPER_SUFFIX = $(MENUHELPER_SUFFIX_$(CONFIGURATION))

MENUHELPER_APP_NAME = MenuHelper$(MENUHELPER_SUFFIX)
MENUHELPER_TARGET_NAME = $(TARGET_NAME)$(MENUHELPER_SUFFIX)
MENUHELPER_APP_VERSION = 4.0.0

MARKETING_VERSION = $(MENUHELPER_APP_VERSION)
PRODUCT_NAME = $(TARGET_NAME)

PRODUCT_BUNDLE_IDENTIFIER_MenuHelper = top.kyleye.$(MENUHELPER_APP_NAME)
PRODUCT_BUNDLE_IDENTIFIER_MenuHelperExtension = $(PRODUCT_BUNDLE_IDENTIFIER_MenuHelper).$(MENUHELPER_TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(TARGET_NAME))

SWIFT_VERSION = 5
